body{
   display: flex;
   justify-content: center;
}
.wrappeer{
   width: 1080px;   
   border: darkorchid solid 1px;
}
.gridContaineer{
   display: grid;
   grid-template-columns: 1fr 2fr;
   gap: 5px;
   
}
.controlButtons{
   display: grid;
   grid-template-columns: 50% 50%;
   text-align: center;
   gap: 10px;
}
.controls{
   display: flex;
   justify-content: center;
   flex-direction: column;
}
 button{
   padding: 10px;   
   margin-top: 5px;
   margin-bottom: 5px;
   font-size: 16px;   
   width: 70%;
   cursor: pointer;

}
.controls h3{
   text-align: center;
}
.controls input{
   padding: 5px;
   width: 67%;
   margin-top: 5px;
   margin-bottom: 5px;
   font-size: 20px;
   font-weight: bolder;
}


.game{
   display: grid;
   grid-template-rows: 0.2fr 2fr;
   
}
.grid{    
   background-color: black;
   width: 100%;
   height: 100%;
}

.rules{
   font-size: 20px;
   padding: 12px;
   font-weight: 400;
}
.rules li{
   padding-top: 25px;
}
.rules span{
   font-size: 25px;
   font-weight: bold;
}
h4{
   text-align: center;
   font-size: 25px;
   font-weight: bolder;
}