body{
   display: flex;
   justify-content: center;
}
.wrappeer{
   width: 1440px;   
   border: darkorchid solid 1px;
}
.gridContaineer{
   display: grid;
   grid-template-columns: 1fr 2fr;
   
}

.game{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.grid{    
   background-color: black;
}

.rules{
   font-size: 20px;
   padding: 12px;
   font-weight: 400;
}
.rules li{
   padding-top: 25px;
}
.rules span{
   font-size: 25px;
   font-weight: bold;
}
h4{
   text-align: center;
   font-size: 25px;
   font-weight: bolder;
}